<ul class="navbar-nav col-lg-12 justify-content-lg-center">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        All Items
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">By Price</a></li>
        <li><a class="dropdown-item" href="#">By Rating</a></li>
        <li><a class="dropdown-item" href="#">By Category</a></li>
        <li><a class="dropdown-item" href="#">All Items</a></li>
    </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Clothing
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Activewear &amp; Essentials</a></li>
        <li><a class="dropdown-item" href="#">Jeans</a></li>
        <li><a class="dropdown-item" href="#">Shirts</a></li>
        <li><a class="dropdown-item" href="#">All Clothings</a></li>
    </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Homeware
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Bed &amp; Bath</a></li>
        <li><a class="dropdown-item" href="#">Kitchen &amp; Dining</a></li>
        <li><a class="dropdown-item" href="#">All Homeware</a></li>
    </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Special Offers
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">New Arrivals/a></li>
        <li><a class="dropdown-item" href="#">Deals</a></li>
        <li><a class="dropdown-item" href="#">Clearance</a></li>
        <li><a class="dropdown-item" href="#">All Specials</a></li>
    </ul>
    </li>
</ul>
