
<ul class="navbar-nav col-lg-12 justify-content-lg-center">

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        All Items
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'items' %}?sort=price&direction=as">By Price</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?sort=rating&direction=desc">By Rating</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?sort=category&direction=asc">By Category</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}">All Items</a></li>
    </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Clothing
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'items' %}?category=activewear,essentials">Activewear &amp; Essentials</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=jeans">Jeans</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=shirts">Shirts</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=activewear,essentials,jeans,shirts">All Clothings</a></li>
    </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Homeware
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'items' %}?category=bed_bath">Bed &amp; Bath</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=kitchen_dining">Kitchen &amp; Dining</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=bed_bath,kitchen_dining">All Homeware</a></li>
    </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Special Offers
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'items' %}?category=new_arrivals">New Arrivals</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=deals">Deals</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=clearance">Clearance</a></li>
        <li><a class="dropdown-item" href="{% url 'items' %}?category=new_arrivals,deals,clearance">All Specials</a></li>
    </ul>
    </li>
</ul>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>